.container {
    width:max-content;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 5px;
    padding: 1px;
    overflow: hidden;
}

.key {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid #5a5a5a;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
    font-family: "", sans-serif;
}

.number-key {
    background-color: grey;
}

.operator-key {
    background-color:#393939;
    font-size: 20px;
}

.basic-operation {
    background-color:#ff9f0c;
    font-size: 40px;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.view-field {
    overflow: hidden;
    background-color: #242424;
    height: 150px;
    padding-right: 15px;
    text-align: right;
    border: 1px solid grey;
    font-size: 80px;
    font-weight: 100;
    color:#dedede;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.double-key {
 width: 202px;   
}


button {
    background-color: #393939;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }