.container {
    width: 400px;
    height: 600px;
    font-size: 2.5vh;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.key {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid #5a5a5a;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
    font-family: "Segoe UI", sans-serif;
}

.number-key {
    background-color: grey;
}

.operator-key {
    background-color:#ff9f0c;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.view-field {
    background-color: #242424;
    height: 100px;
    text-align: right;
    border: 1px solid grey;
    font-size: 50px;
    color:#dedede
}